.LdSign {
  .title {
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(to right, red, rgb(132, 132, 213));
    -webkit-background-clip: text;
    color: transparent;
  }
}
