@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 255, 255, 255;
    --color-menu-bg: 255, 255, 255;
    --color-content: 0, 0, 0;
    --color-menu-content: 0, 0, 0;

  }

  .skin-dark {
    --color-bg: 0, 0, 0;
    --color-menu-bg: 0, 0, 0;
    --color-content: 255, 255, 255;
    --color-menu-content: 255, 255, 255;

  }


  .skin-red {
    --color-bg: 223, 222, 218;
    --color-menu-bg: 223, 222, 218;
    --color-content: 145, 21, 70;
    --color-menu-content: 145, 21, 70;
  }

  .skin-idea {
    --color-bg: 239, 238, 232;
    --color-content: 145, 21, 70;
    --color-menu-bg: 57, 79, 148;
    --color-menu-content: 243, 249, 255;
  }
}